@import "tailwindcss";

*, html, body, #root {
  font-family: 'Cairo', 'Segoe UI', system-ui, sans-serif;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  direction: rtl;
}
